.tile{

    border: 1px solid white;
    width: 50px;
    height: 50px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 1000;
    font-size: 2em;

}

.line{
    display: flex;
    flex-direction: row;
}
.correct{
    background-color: #538d4e;
}
.close{
    background-color: #b59f3b;
}
.wrong{
    background-color: #3a3a3c;
}